/* Black Italic */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-Black-Italic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

/* Black */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Bold Italic */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-Bold-Italic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Bold */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* ExtraLight Italic */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-ExtraLight-Italic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

/* ExtraLight */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

/* Italic (Regular Italic) */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Light Italic */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-Light-Italic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* Light */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* SemiBold Italic */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-SemiBold-Italic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/* SemiBold */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Regular (Monocraft base) */
@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.font-monocraft {
	font-family: "Monocraft";
}
